<div class="container">
    <div class="row justify-content-center">
        <div class="col-lg-8">
            <ul class="nav">
                <li class="nav-item">
                    <a class="nav-link" routerLinkActive="active" routerLink="login">Login</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLinkActive="active" routerLink="registration">Registration</a>
                </li>
            </ul>
            <div class="card">
                <div class="card-body">
                    <router-outlet></router-outlet>
                </div>
            </div>
        </div>
    </div>
</div>