<div class="container">
    <form class="auth-form" [formGroup]="addTodoForm" (ngSubmit)="addTodo()">
        <div class="alert alert-danger" role="alert" *ngIf="serverError">
            {{serverError}}
        </div>
        <mat-form-field class="full-width-input">
            <mat-label>Name</mat-label>
            <input matInput placeholder="Name" formControlName="name">
            <mat-error *ngIf="addTodoForm.controls.name.hasError('required')">
                Name is <strong>required</strong>
            </mat-error>
        </mat-form-field>
        <mat-form-field class="full-width-input">
            <mat-label>Priority</mat-label>
            <input matInput placeholder="Priority" formControlName="priority">
            <mat-error *ngIf="addTodoForm.controls.priority.hasError('required')">
                Priority is <strong>required</strong>
            </mat-error>
        </mat-form-field>
        <button mat-raised-button color="primary">Add</button>
    </form>
</div>
